<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="contents">
<h:form>
		<p:remoteCommand name="updateData" process="@this" action="#{backing_bean.updateData()}" update="dt" />

<p:dataTable widgetVar="dt" id="dt" value="#{backing_bean.data}" var="d">
    <p:column headerText="Base">
        <p:outputLabel value="#{d.product_code}" />
    </p:column>
    <p:column headerText="Cantidad">
        <p:outputLabel value="#{d.content}" />
    </p:column>
    <p:column headerText="Acumulativo">
        <p:outputLabel value="#{d.product_name}" />
    </p:column>
    <p:column headerText="Unidad">
        <p:outputLabel value="#{d.bar_code}" />
    </p:column>
</p:dataTable>

<h:outputScript>
    $(function(){
        PF('dt').jq.on("paste", function(e){
            var data = e.originalEvent.clipboardData;
            var table = [];
            if(data &amp;&amp; data.items &amp;&amp; data.items[0]) {

                data.items[0].getAsString(function(text){

                    $.each( text.split("\n"), function(i, r){
                        table[i] = r.split("\t");
                    });

                    updateData([{name: 'data', value: JSON.stringify(table) }]);
                });
            }
        });

    });
</h:outputScript>
<p:commandButton value="Calcula Precio" actionListener="#{backing_bean.processRandomNumber()}" update="randomId" />
<p:outputLabel value="Valor: " />
<p:outputLabel id="randomId" value="#{backing_bean.randomValue}" />
</h:form>
	</ui:define>

</ui:composition>