<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-93461466-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-93461466-1');
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>#{msg['panel.credentials.login']}</title>
</h:head>
<h:body>
	<p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />

    <h:form style="margin: 0; padding: 0;">
        <h:commandButton value="ENGLISH" style="float: right">
			<f:setPropertyActionListener value="en" target="#{language_bean.language}"/>
        </h:commandButton>
        <h:commandButton value="FRANÇAIS" style="float: right">
			<f:setPropertyActionListener value="fr" target="#{language_bean.language}"/>
        </h:commandButton>
        <h:commandButton value="ESPAÑOL" style="float: right">
			<f:setPropertyActionListener value="es" target="#{language_bean.language}"/>
        </h:commandButton>
    </h:form>

	<p:dialog header="#{msg['form.credentials.title']}" widgetVar="wdlgData" id="dlgData" draggable="false" resizable="false" closable="false" visible="true" responsive="true">
		<h:form id="frmNewEdit">
			<p:outputPanel id="panelNewEdit">
				<p:panelGrid columns="3" styleClass="ui-noborder" width="500px">
					<p:outputLabel for="user_name" value="#{msg['datatable.user.user_name']}" />
					<p:inputText id="user_name" required="true" value="#{login_bean.user.user_name}" />
					<p:message for="user_name" display="icon"/>
					
					<p:outputLabel for="user_password" value="#{msg['datatable.user.user_password']}" />
					<p:password id="user_password" required="true" value="#{login_bean.user.user_password}" />
					<p:message for="user_password" display="icon"/>
				</p:panelGrid>

				<p:commandButton id="ok_button" value="#{msg['panel.credentials.login']}" action="#{login_bean.login()}" update=":frmNewEdit :messageBox" icon="pi pi-fw pi-key" />
				<p:commandButton id="cancel_button" value="#{msg['cancel_button']}">
					<p:ajax update=":frmNewEdit:panelNewEdit" resetValues="true"/>
				</p:commandButton>
				<p:defaultCommand target="ok_button"/>
			</p:outputPanel>
		</h:form>
	</p:dialog>
</h:body>
</html>