<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="contents">
                <f:event type="preRenderView" listener="#{measure_bean.reading('F')}" />

                <p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />

        <h:form id="frm">
            <p:outputPanel id="panelData">
	            <p:dataTable id="data" value="#{measure_bean.lstMeasure}" widgetVar="measureTable" var="measure" paginator="true" emptyMessage="#{msg['datatable.empty_message']}"
	                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                     currentPageReportTemplate="{startRecord}-{endRecord} #{msg['datatable.of']} {totalRecords} #{msg['datatable.records']}"
	                     rowsPerPageTemplate="5,10,15,25,40,65,100" rows="40" reflow="true" resizableColumns="true" scrollable="true" scrollHeight="435">
	            <f:facet name="header">
	           		<p:commandButton style="float: left;" value="#{msg['new_button']}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData" icon="pi pi-fw pi-plus" >
						<f:setPropertyActionListener value="Create" target="#{measure_bean.action}"/>
	           		</p:commandButton>
	           		<p:outputLabel value="#{msg['menu.measure.link']}" /><p:spacer width="10" />
					<p:inputText id="globalFilter" onkeyup="PF('measureTable').filter()" placeholder="#{msg['datatable.search.description']}" />
	                <p:commandButton style="float: right;" title="#{msg['export_button']}" icon="pi pi-fw pi-file-excel" onclick="$(document).ready(function(){PF('statusDialog').hide();});" ajax="false">
	                    <p:dataExporter type="xls" target="data" fileName="#{msg['menu.measure.link']}" postProcessor="#{utility_bean.postProcessXLS}"/>
	                </p:commandButton>
                    <p:commandButton id="toggler" style="float: right;" type="button" value="&#9776;" />
                    <p:columnToggler datasource="data" trigger="toggler"/>
	            </f:facet>
	                <p:column headerText="#{msg['datatable.measure.measure_id']}" sortBy="#{measure.measure_id}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.measure_id}">
	                    <p:outputLabel value="#{measure.measure_id}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.measure.content']}" sortBy="#{measure.content}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.content}">
	                    <p:outputLabel value="#{measure.content}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.measure.measure_code']}" sortBy="#{measure.measure_code}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.measure_code}">
	                    <p:outputLabel value="#{measure.measure_code}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.measure.metric_id']}" sortBy="#{measure.metric.metric_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.metric.metric_name}">
	                    <p:outputLabel value="#{measure.metric.metric_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.measure.measure_ext']}" sortBy="#{measure.measure_ext}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.measure_ext}">
	                    <p:outputLabel value="#{measure.measure_ext}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.metric.magnitude_id']}" sortBy="#{measure.metric.magnitude.magnitude_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{measure.metric.magnitude.magnitude_name}">
	                    <p:outputLabel value="#{measure.metric.magnitude.magnitude_name}" />
	                </p:column>
	                <p:column headerText="#{msg['edit_button']}" exportable="false" style="text-align: center;">
	                    <p:commandButton onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData, :messageBox" icon="pi pi-fw pi-pencil" >
							<f:setPropertyActionListener value="Update" target="#{measure_bean.action}"/>
							<f:setPropertyActionListener value="#{measure}" target="#{measure_bean.selectedMeasure}"/>
	                    </p:commandButton>
	                </p:column>
	
	                <p:column headerText="#{msg['delete_button']}" exportable="false" style="text-align: center;">
				        <p:commandButton action="#{measure_bean.delete}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data, messageBox" icon="pi pi-fw pi-trash">
				            <p:confirm header="#{msg['delete_button']}" message="#{msg['delete.message.question']}" icon="pi pi-info-circle"/>
							<f:setPropertyActionListener value="#{measure}" target="#{measure_bean.selectedMeasure}"/>
				        </p:commandButton>
	                </p:column>
	            </p:dataTable>
            </p:outputPanel>
	        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
	            <p:commandButton value="#{msg['yes_button']}" type="button" styleClass="ui-confirmdialog-yes">
	            	<p:ajax update=":frm:panelData" resetValues="true"/>
	            </p:commandButton>
	            <p:commandButton value="#{msg['no_button']}" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
	        </p:confirmDialog>
        </h:form>
        
                <f:event type="preRenderView" listener="#{metric_bean.reading('F')}" />
        <p:dialog header="#{msg['form.measure.create_update.title']}" widgetVar="wdlgData" id="dlgData" modal="true" appendTo="@(body)" closeOnEscape="true">
            <h:form id="frmNewEdit">
            	<p:outputPanel id="panelNewEdit">
	            	<p:panelGrid columns="3" styleClass="ui-noborder">
		                <p:outputLabel for="measure_id" value="#{msg['datatable.measure.measure_id']}" />
		                <p:inputText id="measure_id" required="true" label="#{msg['datatable.measure.measure_id']}" value="#{measure_bean.selectedMeasure.measure_id}" />
	            		<p:message for="measure_id" display="icon"/>
		
		                <p:outputLabel for="content" value="#{msg['datatable.measure.content']}" />
		                <p:inputText id="content" required="false" label="#{msg['datatable.measure.content']}" value="#{measure_bean.selectedMeasure.content}" />
	            		<p:message for="content" display="icon"/>
		
		                <p:outputLabel for="measure_code" value="#{msg['datatable.measure.measure_code']}" />
		                <p:inputText id="measure_code" required="true" label="#{msg['datatable.measure.measure_code']}" value="#{measure_bean.selectedMeasure.measure_code}" />
	            		<p:message for="measure_code" display="icon"/>

		                <p:outputLabel for="metric_id" value="#{msg['datatable.measure.metric_id']}" />
						<p:selectOneMenu id="metric_id" required="true" label="#{msg['datatable.measure.metric_id']}" value="#{measure_bean.selectedMeasure.metric}" converter="omnifaces.SelectItemsConverter">
							<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
							<f:selectItems value="#{metric_bean.lstMetric}" var="metric"
								itemValue="#{metric}" itemLabel="#{metric.metric_name}"/>
						</p:selectOneMenu>
	            		<p:message for="metric_id" display="icon"/>
		
		                <p:outputLabel for="measure_ext" value="#{msg['datatable.measure.measure_ext']}" />
		                <p:inputText id="measure_ext" required="true" label="#{msg['datatable.measure.measure_ext']}" value="#{measure_bean.selectedMeasure.measure_ext}" />
	            		<p:message for="measure_ext" display="icon"/>
		
		                <p:commandButton id="ok_button" value="#{msg['ok_button']}" actionListener="#{measure_bean.perform()}" onstart="PF('statusDialog').show();" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlgData').hide();PF('statusDialog').hide();" update=":frmNewEdit, :frm:data, :messageBox" />
		                <p:commandButton id="cancel_button" value="#{msg['cancel_button']}" immediate="true" oncomplete="PF('wdlgData').hide();">
		                	<p:ajax update="panelNewEdit" resetValues="true"/>
		                </p:commandButton>
		                <br/>
		                <p:defaultCommand target="ok_button"/>
	                </p:panelGrid>
            	</p:outputPanel>
            </h:form>
        </p:dialog>
	</ui:define>

</ui:composition>