<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="contents">
                <f:event type="preRenderView" listener="#{product_bean.reading('F')}" />
                <f:event type="preRenderView" listener="#{product_bean.setDocument('P/C')}" />

                <p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />
	        <style>
				.ui-tabs .ui-tabs-panel {
				    padding: 0;
				}        
	        </style>
        <h:form id="frm">
            <p:outputPanel id="panelData">
	            <p:dataTable id="data" value="#{product_bean.lstProduct}" widgetVar="productTable" var="product" paginator="true" emptyMessage="#{msg['datatable.empty_message']}"
	                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                     currentPageReportTemplate="{startRecord}-{endRecord} #{msg['datatable.of']} {totalRecords} #{msg['datatable.records']}"
	                     rowsPerPageTemplate="5,13,25,40,65,100" rows="13" reflow="true" resizableColumns="true" scrollable="true" scrollHeight="435" selection="#{product_bean.selectedProduct}" rowKey="#{product.product_id}">
	            <f:facet name="header">
	           		<p:commandButton style="float: left;" value="#{msg['new_button']}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData" icon="pi pi-fw pi-plus" >
						<f:setPropertyActionListener value="Create" target="#{product_bean.action}"/>
	           		</p:commandButton>
	           		<p:outputLabel value="#{msg['menu.product.link']}" /><p:spacer width="10" />
                    <p:inputText id="globalFilter" onkeyup="PF('productTable').filter()" placeholder="#{msg['datatable.search.description']}" />
	                <p:commandButton style="float: right;" title="#{msg['export_button']}" icon="pi pi-fw pi-file-excel" onclick="$(document).ready(function(){PF('statusDialog').hide();});" ajax="false">
						<f:setPropertyActionListener value="#{msg['datatable.product.content']}" target="#{utility_bean.changeNumeric}"/>
						<f:setPropertyActionListener value="#{msg['datatable.price.cost']}" target="#{utility_bean.changeNumeric}"/>
						<f:setPropertyActionListener value="#{msg['datatable.price.selling']}" target="#{utility_bean.changeNumeric}"/>
	                    <p:dataExporter type="xls" target="data" fileName="#{msg['menu.product.link']}" postProcessor="#{utility_bean.postProcessXLS}"/>
	                </p:commandButton>
                    <p:commandButton id="toggler" style="float: right;" type="button" value="&#9776;" />
                    <p:columnToggler datasource="data" trigger="toggler"/>
	            </f:facet>
	                <p:column headerText="#{msg['datatable.product.product_id']}" style="font-size: 12px;text-align: right;" width="3%" sortBy="#{product.product_id}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.product_id}">
	                    <p:outputLabel value="#{product.product_id}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.product_name']}" style="font-size: 12px;" width="36%" sortBy="#{product.product_code} #{product.product_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.product_code} #{product.product_name}">
	                    <p:outputLabel value="#{product.product_code} #{product.product_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.category_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.category.category_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.category.category_name}">
	                    <p:outputLabel value="#{product.category.category_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.brand_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.brand.brand_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.brand.brand_name}">
	                    <p:outputLabel value="#{product.line.brand.brand_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.family_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.family.family_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.family.family_name}">
	                    <p:outputLabel value="#{product.line.family.family_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.line_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.line_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.line_name}">
	                    <p:outputLabel value="#{product.line.line_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.content']}" style="font-size: 12px;" width="5%" sortBy="#{product.content}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.content}">
	                    <p:outputLabel value="#{product.content}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.measure_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.measure.measure_code}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.measure.measure_code}">
	                    <p:outputLabel value="#{product.measure.measure_code}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.cost']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.cost}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.cost}">
	                    <p:outputLabel value="#{product.price.cost}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.profit']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.profit}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.profit}">
	                    <p:outputLabel value="#{product.price.profit}">
							<f:convertNumber minFractionDigits = "2" type = "percent"/>
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.selling']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.selling}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.selling}">
	                    <p:outputLabel value="#{product.price.selling}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.price_date']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.price_date}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.price_date}">
	                    <p:outputLabel value="#{product.price.price_date}">
	                    	<f:convertDateTime pattern="dd/MM/yy" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.type']}" style="font-size: 12px;" width="5%" sortBy="#{product.type}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.type}">
	                    <p:outputLabel value="#{product.type==0 ? msg['product.entire'] : product.type==1 ? msg['product.partition'] : ''}" >
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['edit_button']}" exportable="false" style="text-align: center;font-size: 12px;" width="3%">
	                    <p:commandButton onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData, :messageBox" icon="pi pi-fw pi-pencil" >
							<f:setPropertyActionListener value="Update" target="#{product_bean.action}"/>
							<f:setPropertyActionListener value="#{product}" target="#{product_bean.selectedProduct}"/>
							<f:setPropertyActionListener value="#{product.line}" target="#{product_bean.line}"/>
							<f:setPropertyActionListener value="#{product.line.brand}" target="#{product_bean.brand}"/>
							<f:setPropertyActionListener value="#{product.line.family}" target="#{product_bean.family}"/>
							<f:setPropertyActionListener value="#{product.measure}" target="#{product_bean.measure}"/>
							<f:setPropertyActionListener value="#{product.measure.metric}" target="#{product_bean.metric}"/>
							<f:setPropertyActionListener value="#{product.price}" target="#{product_bean.price}"/>
							<f:setPropertyActionListener value="#{product.price.cost}" target="#{product_bean.cost}"/>
							<f:setPropertyActionListener value="#{product.price.profit}" target="#{product_bean.profit}"/>
							<f:setPropertyActionListener value="#{product.price.selling}" target="#{product_bean.selling}"/>
							<f:setPropertyActionListener value="#{product.price.price_date}" target="#{product_bean.price_date}"/>
	                    </p:commandButton>
	                </p:column>
	
	                <p:column headerText="#{msg['delete_button']}" exportable="false" style="text-align: center;font-size: 12px;" width="3%">
				        <p:commandButton action="#{product_bean.delete}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data, messageBox" icon="pi pi-fw pi-trash">
				            <p:confirm header="#{msg['delete_button']}" message="#{msg['delete.message.question']}" icon="pi pi-info-circle"/>
							<f:setPropertyActionListener value="#{product}" target="#{product_bean.selectedProduct}"/>
				        </p:commandButton>
	                </p:column>
	            </p:dataTable>
            </p:outputPanel>
	        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
	            <p:commandButton value="#{msg['yes_button']}" styleClass="ui-confirmdialog-yes" update=":frmNewEdit, :frm:data, :messageBox" oncomplete="if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('productTable').filter();"/>
	            <p:commandButton value="#{msg['no_button']}" styleClass="ui-confirmdialog-no ui-button-flat"/>
	        </p:confirmDialog>
        </h:form>

                <f:event type="preRenderView" listener="#{category_bean.reading('F')}" />
                <f:event type="preRenderView" listener="#{product_bean.readingCombo('F')}" />
        <p:dialog header="#{msg['form.product.create_update.title']}" widgetVar="wdlgData" id="dlgData" modal="true" appendTo="@(body)" closeOnEscape="true">
            <h:form id="frmNewEdit">
            	<p:outputPanel id="panelNewEdit">
				    <p:panelGrid styleClass="ui-noborder">
				        <p:row>
				            <p:column style="font-weight: bold;"><p:outputLabel for="product_id" value="#{msg['datatable.product.product_id']}" /></p:column>
				            <p:column><p:inputText id="product_id" required="true" size="10" label="#{msg['datatable.product.product_id']}" value="#{product_bean.selectedProduct.product_id}" /></p:column>
				            <p:column><p:message for="product_id" display="icon"/></p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3" style="font-weight: bold;">
				            	<p:outputLabel for="product_name" value="#{msg['datatable.product.product_name']}" />
				            	<p:message for="product_name" display="icon"/>
				            </p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3">
				            	<p:inputTextarea id="product_name" required="true" label="#{msg['datatable.product.product_name']}" maxlength="80" value="#{product_bean.selectedProduct.product_name}" rows="3" cols="27" />
				            </p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3">
								<p:tabView id="tvCombo" dynamic="true" cache="true">
									<p:tab title="I">
										<p:panelGrid>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.product_code']}" /></p:column>
									            <p:column><p:inputText value="#{product_bean.selectedProduct.product_code}" size="10" /></p:column>
									            <p:column><p:spacer width="10" /></p:column>
											</p:row>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.category_id']}" /></p:column>
									            <p:column>
													<p:selectOneMenu value="#{product_bean.selectedProduct.category}" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{category_bean.lstCategory}" var="category"
															itemValue="#{category}" itemLabel="#{category.category_name}"/>
													</p:selectOneMenu>
									            </p:column>
									            <p:column><p:spacer width="10" /></p:column>
											</p:row>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.type']}" /></p:column>
									            <p:column>
													<p:selectOneMenu value="#{product_bean.selectedProduct.type}">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItem itemLabel="#{msg['product.entire']}" itemValue="0" />
														<f:selectItem itemLabel="#{msg['product.partition']}" itemValue="1" />
													</p:selectOneMenu>
									            </p:column>
									            <p:column><p:spacer width="10" /></p:column>
											</p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="II">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="comboBrand" value="#{msg['datatable.product.brand_id']}" /></p:column>
												<p:column>
													<p:selectOneMenu id="comboBrand" required="true" value="#{product_bean.brand}" valueChangeListener="#{product_bean.brandChanged}" style="width:130px;" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{product_bean.lstBrand}" var="brand"
															itemValue="#{brand}" itemLabel="#{brand.brand_name}"/>
															<p:ajax event="change" update=":frmNewEdit:tvCombo:comboLine :frmNewEdit:tvCombo:comboFamily" process="@this" />
													</p:selectOneMenu>
												</p:column>
												<p:column><p:message for="comboBrand" display="icon"/></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="comboFamily" value="#{msg['datatable.product.family_id']}" /></p:column>
												<p:column>
													<p:selectOneMenu id="comboFamily" required="true" value="#{product_bean.family}" valueChangeListener="#{product_bean.familyChanged}" style="width:130px;" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{product_bean.lstFamily}" var="family"
															itemValue="#{family}" itemLabel="#{family.family_name}"/>
															<p:ajax event="change" update=":frmNewEdit:tvCombo:comboLine :frmNewEdit:tvCombo:comboBrand" process="@this" />
													</p:selectOneMenu>
												</p:column>
												<p:column><p:message for="comboFamily" display="icon"/></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="comboLine" value="#{msg['datatable.product.line_id']}" /></p:column>
												<p:column>
													<p:selectOneMenu id="comboLine" required="true" value="#{product_bean.line}" valueChangeListener="#{product_bean.lineChanged}" style="width:130px;" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{product_bean.lstLine}" var="line"
															itemValue="#{line}" itemLabel="#{line.line_name}"/>
															<p:ajax event="change" update=":frmNewEdit:tvCombo:comboBrand :frmNewEdit:tvCombo:comboFamily" process="@this" />
													</p:selectOneMenu>
												</p:column>
												<p:column><p:message for="comboLine" display="icon"/></p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="III">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="comboMetric" value="#{msg['datatable.measure.metric_id']}" /></p:column>
												<p:column>
													<p:selectOneMenu id="comboMetric" required="true" value="#{product_bean.metric}" valueChangeListener="#{product_bean.metricChanged}" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{product_bean.lstMetric}" var="metric"
															itemValue="#{metric}" itemLabel="#{metric.metric_name}"/>
															<p:ajax event="change" update=":frmNewEdit:tvCombo:comboMeasure" process="@this" />
													</p:selectOneMenu>
												</p:column>
												<p:column><p:message for="comboMetric" display="icon"/></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="content_value" value="#{msg['datatable.product.content']}"/></p:column>
												<p:column><p:inputText id="content_value" size="7" value="#{product_bean.selectedProduct.content}" /></p:column>
												<p:column><p:message for="content_value" display="icon"/></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="comboMeasure" value="#{msg['datatable.product.measure_id']}" /></p:column>
												<p:column>
													<p:selectOneMenu id="comboMeasure" required="true" value="#{product_bean.measure}" valueChangeListener="#{product_bean.measureChanged}" converter="omnifaces.SelectItemsConverter">
														<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
														<f:selectItems value="#{product_bean.lstMeasure}" var="measure"
															itemValue="#{measure}" itemLabel="#{measure.measure_code}"/>
															<p:ajax event="change" update=":frmNewEdit:tvCombo:comboMetric" process="@this" />
													</p:selectOneMenu>
												</p:column>
												<p:column><p:message for="comboMeasure" display="icon"/></p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="IV">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel for="cost" value="#{msg['datatable.price.cost']}"/></p:column>
												<p:column style="font-weight: bold;"><p:outputLabel for="profit" value="#{msg['datatable.price.profit']}"/></p:column>
												<p:column style="font-weight: bold;"><p:outputLabel for="selling" value="#{msg['datatable.price.selling']}"/></p:column>
									        </p:row>
									        <p:row>
												<p:column><p:inputNumber id="cost" value="#{product_bean.cost}" size="3" widgetVar="txtCost" onkeyup="costChanged();" decimalSeparator="." thousandSeparator="," /></p:column>
												<p:column><p:inputNumber id="profit" value="#{product_bean.profit}" size="3" widgetVar="txtProfit" onkeyup="profitChanged();" decimalSeparator="." thousandSeparator="," decimalPlaces="4" /></p:column>
												<p:column><p:inputNumber id="selling" value="#{product_bean.selling}" size="3" widgetVar="txtSelling" onkeyup="sellingChanged();" decimalSeparator="." thousandSeparator="," /></p:column>
									        </p:row>
									        <p:row>
												<p:column><p:message for="cost" display="icon"/></p:column>
												<p:column><p:message for="profit" display="icon"/></p:column>
												<p:column><p:message for="selling" display="icon"/></p:column>
									        </p:row>
									        <p:row>
									        	<p:column colspan="3">
									        		<p:outputLabel for="price_date" value="#{msg['datatable.price.price_date']} " style="font-weight: bold;" />
									        		<p:calendar id="price_date" pattern="dd/MM/yyyy" value="#{product_bean.price_date}" widgetVar="txtPrice_date" title="#{msg['datatable.price.price_date']}" size="15"/>
									        		<p:message for="price_date" display="icon"/>
									        	</p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
								</p:tabView>
							</p:column>
				        </p:row>
				        <p:row>
				            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.bar_code']}" /></p:column>
				            <p:column><p:inputText value="#{product_bean.selectedProduct.bar_code}" size="10" /></p:column>
				            <p:column><p:spacer width="10" /></p:column>
				        </p:row>
				        <f:facet name="footer">
				            <p:row>
				                <p:column colspan="3">
					                <p:commandButton id="ok_button" value="#{msg['ok_button']}" actionListener="#{product_bean.perform()}" onstart="PF('statusDialog').show();" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlgData').hide();PF('statusDialog').hide(); if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('productTable').filter();" update=":frmNewEdit, :frm:data, :messageBox" />
					                <p:commandButton id="cancel_button" value="#{msg['cancel_button']}" immediate="true" oncomplete="PF('wdlgData').hide();">
					                	<p:ajax update="panelNewEdit" resetValues="true"/>
					                </p:commandButton>
				                </p:column>
				            </p:row>
				        </f:facet>
				        <p:defaultCommand target="ok_button"/>
				    </p:panelGrid>
            	</p:outputPanel>
				<script type="text/javascript">
					function sellingChanged(){
						PF('txtProfit').setValue((parseFloat(PF('txtSelling').getValue())/parseFloat(PF('txtCost').getValue()))-1);
						//PF('txtProfit').setValue(Math.round(PF('txtProfit').getValue() * 100) / 100);
					}
					function costChanged(){
						PF('txtSelling').setValue(parseFloat(PF('txtCost').getValue())*(1 + parseFloat(PF('txtProfit').getValue())));
						PF('txtSelling').setValue(Math.round(PF('txtSelling').getValue() * 100) / 100);
					}
					function profitChanged(){
						PF('txtSelling').setValue(parseFloat(PF('txtCost').getValue())*(1 + parseFloat(PF('txtProfit').getValue())));
						PF('txtSelling').setValue(Math.round(PF('txtSelling').getValue() * 100) / 100);
					}
				</script>
            </h:form>
        </p:dialog>
	</ui:define>

</ui:composition>