<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">

	<ui:define name="contents">
                <f:event type="preRenderView" listener="#{report_product_bean.reading('F')}" />

                <p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />
	        <style>
				.ui-tabs .ui-tabs-panel {
				    padding: 0;
				}        
	        </style>
        <h:form id="frm">
            <p:dataTable id="data" value="#{report_product_bean.lstProduct}" widgetVar="productTable" var="product" paginator="true" emptyMessage="#{msg['datatable.empty_message']}"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="{startRecord}-{endRecord} #{msg['datatable.of']} {totalRecords} #{msg['datatable.records']}"
                     rowsPerPageTemplate="5,18,25,40,65,100" rows="18" reflow="true" resizableColumns="true" scrollable="true" scrollHeight="435" selectionMode="single" selection="#{product_bean.selectedProduct}" rowKey="#{product.product_id}" editable="true" draggableColumns="true">
                     <p:ajax event="rowSelect" oncomplete="PF('wdlgData').show()" update=":dlgData, :messageBox" />
            <f:facet name="header">
		        <p:commandButton id="basic" icon="pi pi-fw pi-search" style="float: left;"/>
		        <p:overlayPanel for="basic" style="width:400px" widgetVar="wbasic">
            		<p:outputLabel style="float:left;" value="#{msg['datatable.product.brand_id']}" />
					<p:selectOneMenu id="comboBrand" value="#{report_product_bean.brand}" valueChangeListener="#{report_product_bean.brandChanged}" converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']} #{msg['menu.brand.link']}" itemValue="#{null}" />
						<f:selectItems value="#{report_product_bean.lstBrand}" var="brand"
							itemValue="#{brand}" itemLabel="#{brand.brand_name}"/>
							<p:ajax event="change" update=":frm:data:comboLine :frm:data:comboFamily" />
					</p:selectOneMenu><br/>
            		<p:outputLabel style="float:left;" value="#{msg['datatable.product.family_id']}" />
					<p:selectOneMenu id="comboFamily" value="#{report_product_bean.family}" valueChangeListener="#{report_product_bean.familyChanged}" converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']} #{msg['menu.family.link']}" itemValue="#{null}" />
						<f:selectItems value="#{report_product_bean.lstFamily}" var="family"
							itemValue="#{family}" itemLabel="#{family.family_name}"/>
							<p:ajax event="change" update=":frm:data:comboLine :frm:data:comboBrand" />
					</p:selectOneMenu><br/>
            		<p:outputLabel style="float:left;" value="#{msg['datatable.product.line_id']}" />
					<p:selectOneMenu id="comboLine" value="#{report_product_bean.line}" valueChangeListener="#{report_product_bean.lineChanged}" converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']} #{msg['menu.line.link']}" itemValue="#{null}" />
						<f:selectItems value="#{report_product_bean.lstLine}" var="line"
							itemValue="#{line}" itemLabel="#{line.line_name}"/>
							<p:ajax event="change" update=":frm:data:comboBrand :frm:data:comboFamily" />
					</p:selectOneMenu><br/>
					<p:commandButton value="#{msg['ok_button']}" oncomplete="PF('wbasic').hide();" update=":frm:data" process="@this" onstart="PF('productTable').clearFilters()" />
		        </p:overlayPanel>
	           		<p:outputLabel value="#{msg['menu.report.link']}" /><p:spacer width="10" />
				<p:inputText id="globalFilter" onkeyup="PF('productTable').filter()" placeholder="#{msg['datatable.search.description']}" />
	                <p:commandButton style="float: right;" title="#{msg['export_button']}" icon="pi pi-fw pi-file-excel" onclick="$(document).ready(function(){PF('statusDialog').hide();});" ajax="false">
					<f:setPropertyActionListener value="#{msg['datatable.product.content']}" target="#{utility_bean.changeNumeric}"/>
                    <p:dataExporter type="xls" target="data" fileName="#{msg['menu.report.link']}" postProcessor="#{utility_bean.postProcessXLS}"/>
                </p:commandButton>
                   <p:commandButton id="toggler" style="float: right;" type="button" value="&#9776;" />
                   <p:columnToggler datasource="data" trigger="toggler"/>
            </f:facet>
	                <p:column headerText="#{msg['datatable.product.product_id']}" style="font-size: 12px;text-align: right;" width="5%" sortBy="#{product.product_id}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.product_id}">
	                    <p:outputLabel value="#{product.product_id}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.product_name']}" style="font-size: 12px;" width="40%" sortBy="#{product.product_code} #{product.product_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.product_code} #{product.product_name}">
	                    <p:outputLabel value="#{product.product_code} #{product.product_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.category_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.category.category_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.category.category_name}">
	                    <p:outputLabel value="#{product.category.category_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.brand_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.brand.brand_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.brand.brand_name}">
	                    <p:outputLabel value="#{product.line.brand.brand_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.family_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.family.family_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.family.family_name}">
	                    <p:outputLabel value="#{product.line.family.family_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.line_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.line.line_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.line.line_name}">
	                    <p:outputLabel value="#{product.line.line_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.content']}" style="font-size: 12px;" width="5%" sortBy="#{product.content}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.content}">
	                    <p:outputLabel value="#{product.content}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.measure_id']}" style="font-size: 12px;" width="5%" sortBy="#{product.measure.measure_code}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.measure.measure_code}">
	                    <p:outputLabel value="#{product.measure.measure_code}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.cost']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.cost}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.cost}">
	                    <p:outputLabel value="#{product.price.cost}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.profit']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.profit}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.profit}">
	                    <p:outputLabel value="#{product.price.profit}">
							<f:convertNumber minFractionDigits = "2" type = "percent" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.selling']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.selling}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.selling}">
	                    <p:outputLabel value="#{product.price.selling}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.price.price_date']}" style="font-size: 12px;" width="5%" sortBy="#{product.price.price_date}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.price.price_date}">
	                    <p:outputLabel value="#{product.price.price_date}">
	                    	<f:convertDateTime pattern="dd/MM/yyyy" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.product.type']}" style="font-size: 12px;" width="5%" sortBy="#{product.type}" filterStyle="display:none;visibility:hidden;" filterBy="#{product.type}">
	                    <p:outputLabel value="#{product.type==0 ? msg['product.entire'] : product.type==1 ? msg['product.partition'] : ''}" >
	                    </p:outputLabel>
	                </p:column>
            </p:dataTable>
        </h:form>

        <p:dialog header="#{msg['form.product.create_update.title']}" widgetVar="wdlgData" id="dlgData" modal="true" appendTo="@(body)" closeOnEscape="true">
            <h:form id="frmNewEdit">
            	<p:outputPanel id="panelNewEdit">
				    <p:panelGrid styleClass="ui-noborder">
				        <p:row>
				            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.product_id']}" /></p:column>
				            <p:column><p:outputLabel value="#{product_bean.selectedProduct.product_id}" /></p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3" style="font-weight: bold;">
				            	<p:outputLabel value="#{msg['datatable.product.product_name']}" />
				            </p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3">
				            	<p:outputLabel value="#{product_bean.selectedProduct.product_name}" style="width: 280px; display: block;" />
				            </p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="3">
								<p:tabView id="tvCombo" dynamic="true" cache="true">
									<p:tab title="I">
										<p:panelGrid>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.product_code']}" /></p:column>
									            <p:column><p:outputLabel value="#{product_bean.selectedProduct.product_code}" /></p:column>
											</p:row>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.category_id']}" /></p:column>
									            <p:column><p:outputLabel value="#{product_bean.selectedProduct.category.category_name}" /></p:column>
											</p:row>
											<p:row>
									            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.type']}" /></p:column>
									            <p:column><p:outputLabel value="#{product_bean.selectedProduct.type==0 ? msg['product.entire'] : product_bean.selectedProduct.type==1 ? msg['product.partition'] : ''}" /></p:column>
											</p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="II">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.brand_id']}" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.line.brand.brand_name}" /></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.family_id']}" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.line.family.family_name}" /></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.line_id']}" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.line.line_name}" /></p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="III">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.measure.metric_id']}" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.measure.metric.metric_name}" /></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.content']}"/></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.content}" /></p:column>
									        </p:row>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.measure_id']}" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.measure.measure_code}" /></p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
									<p:tab title="IV">
										<p:panelGrid>
									        <p:row>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.price.cost']}"/></p:column>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.price.profit']}"/></p:column>
												<p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.price.selling']}"/></p:column>
									        </p:row>
									        <p:row>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.price.cost}" decimalSeparator="." thousandSeparator="," /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.price.profit}" decimalSeparator="." thousandSeparator="," decimalPlaces="4" /></p:column>
												<p:column><p:outputLabel value="#{product_bean.selectedProduct.price.selling}" decimalSeparator="." thousandSeparator="," /></p:column>
									        </p:row>
									        <p:row>
									        	<p:column colspan="3">
									        		<p:outputLabel value="#{msg['datatable.price.price_date']} " style="font-weight: bold;" />
								                    <p:outputLabel value="#{product_bean.selectedProduct.price.price_date}">
								                    	<f:convertDateTime pattern="dd/MM/yyyy" />
								                    </p:outputLabel>
									        	</p:column>
									        </p:row>
										</p:panelGrid>
									</p:tab>
								</p:tabView>
							</p:column>
				        </p:row>
				        <p:row>
				            <p:column style="font-weight: bold;"><p:outputLabel value="#{msg['datatable.product.bar_code']}" /></p:column>
				            <p:column><p:outputLabel value="#{product_bean.selectedProduct.bar_code}" /></p:column>
				        </p:row>
				        <f:facet name="footer">
				            <p:row>
				                <p:column colspan="3">
					                <p:commandButton id="ok_button" value="#{msg['ok_button']}" immediate="true" oncomplete="PF('wdlgData').hide();">
					                	<p:ajax update="panelNewEdit" resetValues="true"/>
					                </p:commandButton>
				                </p:column>
				            </p:row>
				        </f:facet>
				        <p:defaultCommand target="ok_button"/>
				    </p:panelGrid>
            	</p:outputPanel>
            </h:form>
        </p:dialog>
	</ui:define>
</ui:composition>