<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="contents">
                <f:event type="preRenderView" listener="#{sale_order_bean.reading('F')}" />

                <p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />
        
        <h:form id="frm">
            <p:outputPanel id="panelData">
	            <p:dataTable id="data" value="#{sale_order_bean.lstSaleOrder}" widgetVar="sale_orderTable" var="sale_order" paginator="true" emptyMessage="#{msg['datatable.empty_message']}"
	                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                     currentPageReportTemplate="{startRecord}-{endRecord} #{msg['datatable.of']} {totalRecords} #{msg['datatable.records']}"
	                     rowsPerPageTemplate="5,10,15,25,40,65,100" rows="10" reflow="true" resizableColumns="true" scrollable="true" scrollHeight="435">
	            <f:facet name="header">
	           		<p:commandButton style="float: left;" value="#{msg['new_button']}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData" icon="pi pi-fw pi-plus" >
						<f:setPropertyActionListener value="Create" target="#{sale_order_bean.action}"/>
	           		</p:commandButton>
	           		<p:outputLabel value="#{msg['menu.sale_order.link']}" /><p:spacer width="10" />
					<p:inputText id="globalFilter" onkeyup="PF('sale_orderTable').filter()" placeholder="#{msg['datatable.search.description']}" />
	                <p:commandButton style="float: right;" title="#{msg['export_button']}" icon="pi pi-fw pi-file-excel" onclick="$(document).ready(function(){PF('statusDialog').hide();});" ajax="false">
	                    <p:dataExporter type="xls" target="data" fileName="#{msg['menu.sale_order.link']}" postProcessor="#{utility_bean.postProcessXLS}"/>
	                </p:commandButton>
                    <p:commandButton id="toggler" style="float: right;" type="button" value="&#9776;" />
                    <p:columnToggler datasource="data" trigger="toggler"/>
	            </f:facet>
	                <p:column headerText="#{msg['datatable.sale_order.order_id']}" sortBy="#{sale_order.order_id}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_id}">
	                    <p:outputLabel value="#{sale_order.order_id}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.client']}" sortBy="#{sale_order.client.client_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.client.client_name}">
	                    <p:outputLabel value="#{sale_order.client.client_name}" />
	                </p:column>
					<p:column headerText="#{msg['datatable.sale_order.order_date']}" sortBy="#{sale_order.order_date}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_date}">
						<p:outputLabel id="order_date" value="#{sale_order.order_date}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:outputLabel>
					</p:column>
	                <p:column headerText="#{msg['datatable.sale_order.order_subtotal']}" sortBy="#{sale_order.order_subtotal}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_subtotal}">
	                    <p:outputLabel value="#{sale_order.order_subtotal}">
							<f:convertNumber type="currency" currencySymbol="S/. " minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.order_tax']}" sortBy="#{sale_order.order_tax}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_tax}">
	                    <p:outputLabel value="#{sale_order.order_tax}">
							<f:convertNumber type="currency" currencySymbol="S/. " minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.order_total']}" sortBy="#{sale_order.order_total}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_total}">
	                    <p:outputLabel value="#{sale_order.order_total}">
							<f:convertNumber type="currency" currencySymbol="S/. " minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.order_discount']}" sortBy="#{sale_order.order_discount}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_dicount}">
	                    <p:outputLabel value="#{sale_order.order_discount}">
							<f:convertNumber type="percent" minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.discounted_amount']}" sortBy="#{sale_order.discounted_amount}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.discounted_amount}">
	                    <p:outputLabel value="#{sale_order.discounted_amount}">
							<f:convertNumber type="currency" currencySymbol="S/. " minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
	                <p:column headerText="#{msg['datatable.sale_order.order_payment']}" sortBy="#{sale_order.order_payment}" filterStyle="display:none;visibility:hidden;" filterBy="#{sale_order.order_payment}">
	                    <p:outputLabel value="#{sale_order.order_payment}">
							<f:convertNumber type="currency" currencySymbol="S/. " minFractionDigits="2" />
	                    </p:outputLabel>
	                </p:column>
					<p:column headerText="#{msg['edit_button']}" exportable="false" style="text-align: center;">
						<p:commandButton actionListener="#{sale_order_bean.load_Id(sale_order)}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData" icon="pi pi-fw pi-pencil" />
					</p:column>
	
	                <p:column headerText="#{msg['delete_button']}" exportable="false" style="text-align: center;">
				        <p:commandButton action="#{sale_order_bean.delete}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data, messageBox" icon="pi pi-fw pi-trash">
				            <p:confirm header="#{msg['delete_button']}" message="#{msg['delete.message.question']}" icon="pi pi-info-circle"/>
							<f:setPropertyActionListener value="#{sale_order}" target="#{sale_order_bean.selectedSaleOrder}"/>
				        </p:commandButton>
	                </p:column>
	            </p:dataTable>
            </p:outputPanel>
	        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true">
	            <p:commandButton value="#{msg['yes_button']}" styleClass="ui-confirmdialog-yes" update=":frmNewEdit, :frm:data, :messageBox" oncomplete="if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('sale_orderTable').filter();"/>
	            <p:commandButton value="#{msg['no_button']}" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
	        </p:confirmDialog>
        </h:form>
        
                <f:event type="preRenderView" listener="#{client_bean.reading('F')}" />
                <f:event type="preRenderView" listener="#{product_bean.reading('F')}" />
        <p:dialog header="#{msg['form.sale_order.create_update.title']}" widgetVar="wdlgData" id="dlgData" draggable="false" resizable="false" closable="false" responsive="true">
            <h:form id="frmNewEdit">
            	<p:outputPanel id="panelNewEdit">
					<p:outputLabel for="@next" value="#{msg['datatable.sale_order.client']} "/>
					<p:selectOneMenu id="comboClient" value="#{sale_order_bean.preSaleOrder.client}" converter="omnifaces.SelectItemsConverter" style="width:360px;"
							effect="fade" var="c"
							filter="true" filterMatchMode="contains">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
						<f:selectItems value="#{client_bean.lstClient}" var="client"
							itemLabel="#{client.client_name}" itemValue="#{client}"/>
						<p:column style="width:10%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.client.client_code']}"/>
							</f:facet>
							<h:outputText value="#{c.client_code}" style="width: 30px; height: 20px"/>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.client.client_name']}"/>
							</f:facet>
							<h:outputText value="#{c.client_name}"/>
						</p:column>
						<f:facet name="footer">
							<h:outputText value="#{client_bean.lstClient.size()} clients"
								style="font-weight:bold;" styleClass="p-py-1 p-d-block"/>
						</f:facet>
					</p:selectOneMenu>
	                <p:outputLabel value="#{msg['datatable.sale_order.order_date']} " />
					<p:calendar id="modificar_fechaPedido" pattern="dd/MM/yyyy" value="#{sale_order_bean.preSaleOrder.order_date}" title="Fecha Pedido" showOn="button" size="10"/>
	
	<br/><br/>
					<p:outputLabel for="@next" value="#{msg['datatable.sale_order_detail.product_id']} "/>
					<p:selectOneMenu id="comboProduct" value="#{sale_order_bean.product}" valueChangeListener="#{sale_order_bean.articuloSeleccionado}" converter="omnifaces.SelectItemsConverter" style="width:345px;"
							effect="fade" var="c"
							filter="true" filterMatchMode="contains">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
						<f:selectItems value="#{product_bean.lstProduct}" var="product"
							itemLabel="#{product.product_code} #{product.product_name}" itemValue="#{product}"/>
							<p:ajax event="change" update=":frmNewEdit:comboMeasure" process="@this" />
						<p:column style="width:11%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.product.product_code']}"/>
							</f:facet>
							<h:outputText value="#{c.product_code}" style="width: 30px; height: 20px"/>
						</p:column>
						<p:column style="width:50%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.product.product_name']}"/>
							</f:facet>
							<h:outputText value="#{c.product_name}"/>
						</p:column>
						<p:column style="width:8%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.product.measure_id']}"/>
							</f:facet>
							<h:outputText value="#{c.measure.measure_code}"/>
						</p:column>
						<p:column style="width:8%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.price.cost']}"/>
							</f:facet>
							<h:outputText value="#{c.price.cost}"/>
						</p:column>
						<p:column style="width:8%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.price.profit']}"/>
							</f:facet>
		                    <h:outputText value="#{c.price.profit}">
								<f:convertNumber minFractionDigits = "2" type = "percent" />
		                    </h:outputText>
						</p:column>
						<p:column style="width:8%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.price.selling']}"/>
							</f:facet>
							<h:outputText value="#{c.price.selling}"/>
						</p:column>
						<p:column style="width:7%">
							<f:facet name="header">
								<h:outputText value="#{msg['datatable.product.type']}"/>
							</f:facet>
							<h:outputText value="#{c.type==0 ? msg['product.entire'] : c.type==1 ? msg['product.partition'] : ''}"/>
						</p:column>
						<f:facet name="footer">
							<h:outputText value="#{product_bean.lstProduct.size()} products"
								style="font-weight:bold;" styleClass="p-py-1 p-d-block"/>
						</f:facet>
					</p:selectOneMenu>
	
	                <p:outputLabel value="#{msg['datatable.sale_order_detail.quantity']} " />
		            <p:inputText id="number" value="#{sale_order_bean.quantity}" size="4" maxlength="4" />
					<p:selectOneMenu id="comboMeasure" value="#{sale_order_bean.measure}" valueChangeListener="#{sale_order_bean.measureChanged}" converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="#{msg['select_combo']}" itemValue="#{null}" />
						<f:selectItems value="#{sale_order_bean.lstMeasure}" var="measure"
							itemValue="#{measure}" itemLabel="#{measure.measure_code}"/>
							<p:ajax event="change" update=":frmNewEdit:comboMeasure :frmNewEdit:add_button" process="@this" />
					</p:selectOneMenu>
	                <p:commandButton id="add_button" value="#{msg['add_button']}" actionListener="#{sale_order_bean.add}" update="detalle comboProduct comboMeasure number add_button" icon="pi pi-fw pi-plus" disabled="#{sale_order_bean.measure eq null}" />
	<br/>
<p:remoteCommand name="refreshFooter" update=":frmNewEdit:detalle:outputTotal :frmNewEdit:detalle:outputSubTotal :frmNewEdit:detalle:outputTax :frmNewEdit:detalle:outputPayment"/>
	<br/>
	                <p:dataTable id="detalle" value="#{sale_order_bean.lstSaleOrderDetail}" var="det" editable="true" editMode="cell" emptyMessage="#{msg['datatable.empty_message']}">
	                 <p:ajax event="cellEdit" listener="#{sale_order_bean.onEditCell}" />
	                    <p:column headerText="#{msg['datatable.product.product_code']}" width="10%">
			                <p:outputLabel value="#{det.product.product_code}" />
	                    </p:column>
	                    <p:column headerText="#{msg['datatable.product.product_name']}" width="50%">
			                <p:outputLabel value="#{det.product.product_name}" />
	                    </p:column>
	                    <p:column headerText="#{msg['datatable.sale_order_detail.selling']}" width="10%" style="text-align: right;">
							<p:cellEditor>
								<f:facet name="output">
									<p:outputLabel value="#{det.selling}" >
										<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" />
									</p:outputLabel>
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{det.selling}">
										<p:ajax event="change" process="@this" oncomplete="refreshFooter();" update="valorTotalItem :messageBox" />
									</p:inputText>
								</f:facet>
							</p:cellEditor>
						</p:column>
	                    <p:column headerText="#{msg['datatable.sale_order_detail.quantity']}" width="7%">
			                <p:outputLabel value="#{det.quantity}" />
	                    </p:column>
	                    <p:column headerText="#{msg['datatable.product.measure_id']}" width="8%">
			                <p:outputLabel value="#{det.measure.measure_code}" />
							<f:facet name="footer">
								<h:outputLabel value="#{msg['datatable.sale_order.order_subtotal']}"  /><br/>
								<h:outputLabel value="#{msg['datatable.sale_order.order_tax']}" /><br/>
								<h:outputLabel value="#{msg['datatable.sale_order.order_total']}" /><br/>
								<h:outputLabel value="#{msg['datatable.sale_order.order_discount']}" /><br/>
								<h:outputLabel value="#{msg['datatable.sale_order.discounted_amount']}" /><br/>
								<h:outputLabel value="#{msg['datatable.sale_order.order_payment']}" style="font-weight:bold"  />
							</f:facet>
	                    </p:column>
	                    <p:column headerText="#{msg['datatable.sale_order.order_subtotal']}" width="10%" style="text-align: right;">
		                   <p:outputLabel id="valorTotalItem" value="#{det.selling * det.quantity}" >
		                        <f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" />
		                    </p:outputLabel>
							<f:facet name="footer">
								<h:outputLabel id="outputSubTotal" value="#{sale_order_bean.selectedSaleOrder.order_subtotal}">
									<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" maxFractionDigits="2"/>
								</h:outputLabel><br/>
								<h:outputLabel id="outputTax" value="#{sale_order_bean.selectedSaleOrder.order_tax}">
									<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" maxFractionDigits="2"/>
								</h:outputLabel><br/>
								<h:outputLabel id="outputTotal" value="#{sale_order_bean.selectedSaleOrder.order_total}">
									<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" maxFractionDigits="2"/>
								</h:outputLabel><br/>
								<h:outputLabel id="outputDiscount" value="#{sale_order_bean.selectedSaleOrder.order_discount}">
									<f:convertNumber type="percent" minFractionDigits="2" />
								</h:outputLabel><br/>
								<h:outputLabel id="outputAmount" value="#{sale_order_bean.selectedSaleOrder.discounted_amount}">
									<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" maxFractionDigits="2"/>
								</h:outputLabel><br/>
						        <p:inplace widgetVar="wPayment" effect="slide" editor="true">
									<p:ajax event="save" listener="#{sale_order_bean.handleSave}" update="outputDiscount outputAmount" />
						            <f:facet name="output">
										<h:outputLabel id="outputPayment" value="#{sale_order_bean.selectedSaleOrder.order_payment}" style="font-weight:bold">
											<f:convertNumber type="currency" currencySymbol="S/." minFractionDigits="2" maxFractionDigits="2"/>
										</h:outputLabel>
						            </f:facet>
						            <f:facet name="input">
						                <p:inputNumber id="inputPayment" value="#{sale_order_bean.selectedSaleOrder.order_payment}" style="font-weight:bold" symbol="S/."
												symbolPosition="p" decimalSeparator="." thousandSeparator="," maxValue="#{sale_order_bean.selectedSaleOrder.order_total}" >
                                		</p:inputNumber>
						            </f:facet>
						        </p:inplace>
							</f:facet>
	                    </p:column>
		                <p:column headerText="#{msg['delete_button']}" width="5%">
		                    <p:commandButton actionListener="#{sale_order_bean.remove(det)}" update="detalle" icon="pi pi-fw pi-trash" />
		                </p:column>
	                </p:dataTable>
	
	                <p:commandButton id="ok_button" value="#{msg['ok_button']}" actionListener="#{sale_order_bean.perform()}" onstart="PF('statusDialog').show();" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlgData').hide();PF('statusDialog').hide(); if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('sale_orderTable').filter();" update=":frmNewEdit :frm:data :messageBox" />
	                <p:commandButton id="cancel_button" value="#{msg['cancel_button']}" immediate="true" oncomplete="PF('wdlgData').hide();if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('sale_orderTable').filter();">
	                	<p:ajax update="panelNewEdit" resetValues="true"/>
	                </p:commandButton>
            	</p:outputPanel>
				<script type="text/javascript">
					function sellingChanged(){
						var outputTotal = document.getElementById('frmNewEdit:detalle:outputTotal');
						var inputPayment = document.getElementById('frmNewEdit:detalle:inputPayment');
						inputPayment.value = "200.05";
						//PF('wPayment').show();
						//PF('txtProfit').setValue((parseFloat(PF('txtSelling').getValue())/parseFloat(PF('txtCost').getValue()))-1);
						//PF('txtProfit').setValue(Math.round(PF('txtProfit').getValue() * 100) / 100);
					}
					function discountChanged(){
						var outputTotal = document.getElementById('frmNewEdit:detalle:outputTotal');
						var outputDiscount = document.getElementById('frmNewEdit:detalle:outputDiscount');
						var inputPayment = document.getElementById('frmNewEdit:detalle:inputPayment_input');
						var mensaje = parseFloat(inputPayment.value)/parseFloat(outputTotal.innerHTML)*100;
						alert(parseFloat(inputPayment.value));
						outputDiscount.innerHTML = mensaje.toString();
						//outputDiscount.innerHTML = discount.toString();
					}
				</script>
            </h:form>
        </p:dialog>
	</ui:define>

</ui:composition>