<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	
	<ui:define name="contents">
                <f:event type="preRenderView" listener="#{user_bean.reading('F')}" />

                <p:growl id="messageBox" showDetail="true" autoUpdate="true" sticky="true" />
        
        <h:form id="frm">
            <p:outputPanel id="panelData">
	            <p:dataTable id="data" value="#{user_bean.lstUser}" widgetVar="userTable" var="user" paginator="true" emptyMessage="#{msg['datatable.empty_message']}"
	                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                     currentPageReportTemplate="{startRecord}-{endRecord} #{msg['datatable.of']} {totalRecords} #{msg['datatable.records']}"
	                     rowsPerPageTemplate="5,10,15,25,40,65,100" rows="10" reflow="true" resizableColumns="true" scrollable="true" scrollHeight="435">
	            <f:facet name="header">
	           		<p:commandButton style="float: left;" value="#{msg['new_button']}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData" icon="pi pi-fw pi-plus" >
						<f:setPropertyActionListener value="Create" target="#{user_bean.action}"/>
	           		</p:commandButton>
	           		<p:outputLabel value="#{msg['menu.user.link']}" /><p:spacer width="10" />
					<p:inputText id="globalFilter" onkeyup="PF('userTable').filter()" placeholder="#{msg['datatable.search.description']}" />
	                <p:commandButton style="float: right;" title="#{msg['export_button']}" icon="pi pi-fw pi-file-excel" onclick="$(document).ready(function(){PF('statusDialog').hide();});" ajax="false">
	                    <p:dataExporter type="xls" target="data" fileName="#{msg['menu.user.link']}" postProcessor="#{utility_bean.postProcessXLS}"/>
	                </p:commandButton>
                    <p:commandButton id="toggler" style="float: right;" type="button" value="&#9776;" />
                    <p:columnToggler datasource="data" trigger="toggler"/>
	            </f:facet>
	                <p:column headerText="#{msg['datatable.user.user_id']}" sortBy="#{user.user_id}" filterStyle="display:none;visibility:hidden;" filterBy="#{user.user_id}">
	                    <p:outputLabel value="#{user.user_id}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.user.user_name']}" sortBy="#{user.user_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{user.user_name}">
	                    <p:outputLabel value="#{user.user_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.user.user_password']}" sortBy="#{user.user_password}" filterStyle="display:none;visibility:hidden;" filterBy="#{user.user_password}">
	                    <p:password value="#{user.user_password}" redisplay="true" disabled="true" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.user.first_name']}" sortBy="#{user.first_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{user.first_name}">
	                    <p:outputLabel value="#{user.first_name}" />
	                </p:column>
	                <p:column headerText="#{msg['datatable.user.last_name']}" sortBy="#{user.last_name}" filterStyle="display:none;visibility:hidden;" filterBy="#{user.last_name}">
	                    <p:outputLabel value="#{user.last_name}" />
	                </p:column>
	                <p:column headerText="#{msg['edit_button']}" exportable="false" style="text-align: center;">
	                    <p:commandButton onstart="PF('statusDialog').show();" oncomplete="PF('wdlgData').show();PF('statusDialog').hide();" update=":dlgData, :messageBox" icon="pi pi-fw pi-user-edit" >
							<f:setPropertyActionListener value="Update" target="#{user_bean.action}"/>
							<f:setPropertyActionListener value="#{user}" target="#{user_bean.selectedUser}"/>
	                    </p:commandButton>
	                </p:column>
	
	                <p:column headerText="#{msg['delete_button']}" exportable="false" style="text-align: center;">
				        <p:commandButton action="#{user_bean.delete}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data, messageBox" icon="pi pi-fw pi-trash">
				            <p:confirm header="#{msg['delete_button']}" message="#{msg['delete.message.question']}" icon="pi pi-info-circle"/>
							<f:setPropertyActionListener value="#{user}" target="#{user_bean.selectedUser}"/>
				        </p:commandButton>
	                </p:column>
	            </p:dataTable>
            </p:outputPanel>
	        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true">
	            <p:commandButton value="#{msg['yes_button']}" styleClass="ui-confirmdialog-yes" update=":frmNewEdit, :frm:data, :messageBox" oncomplete="if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('userTable').filter();"/>
	            <p:commandButton value="#{msg['no_button']}" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
	        </p:confirmDialog>
        </h:form>
        
        <p:dialog header="#{msg['form.user.create_update.title']}" widgetVar="wdlgData" id="dlgData" modal="true" appendTo="@(body)" closeOnEscape="true">
            <h:form id="frmNewEdit">
            	<p:outputPanel id="panelNewEdit">
	            	<p:panelGrid columns="3" styleClass="ui-noborder">
		                <p:outputLabel for="user_id" value="#{msg['datatable.user.user_id']}" />
		                <p:inputText id="user_id" required="true" label="#{msg['datatable.user.user_id']}" value="#{user_bean.selectedUser.user_id}" />
	            		<p:message for="user_id" display="icon"/>

		                <p:outputLabel for="user_name" value="#{msg['datatable.user.user_name']}" />
		                <p:inputText id="user_name" required="true" label="#{msg['datatable.user.user_name']}" value="#{user_bean.selectedUser.user_name}" />
	            		<p:message for="user_name" display="icon"/>

		                <p:outputLabel for="user_password" value="#{msg['datatable.user.user_password']}" />
		                <p:password id="user_password" required="true" label="#{msg['datatable.user.user_password']}" value="#{user_bean.selectedUser.user_password}" redisplay="true" />
	            		<p:message for="user_password" display="icon"/>

		                <p:outputLabel for="first_name" value="#{msg['datatable.user.first_name']}" />
		                <p:inputText id="first_name" required="true" label="#{msg['datatable.user.first_name']}" value="#{user_bean.selectedUser.first_name}" />
	            		<p:message for="first_name" display="icon"/>

		                <p:outputLabel for="last_name" value="#{msg['datatable.user.last_name']}" />
		                <p:inputText id="last_name" required="true" label="#{msg['datatable.user.last_name']}" value="#{user_bean.selectedUser.last_name}" />
	            		<p:message for="last_name" display="icon"/>
		
		                <p:commandButton id="ok_button" value="#{msg['ok_button']}" actionListener="#{user_bean.perform()}" onstart="PF('statusDialog').show();" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlgData').hide();PF('statusDialog').hide(); if(document.getElementById('frm:data:globalFilter').value.trim()!='') PF('userTable').filter();" update=":frmNewEdit, :frm:data, :messageBox" />
		                <p:commandButton id="cancel_button" value="#{msg['cancel_button']}" immediate="true" oncomplete="PF('wdlgData').hide();">
		                	<p:ajax update="panelNewEdit" resetValues="true"/>
		                </p:commandButton>
		                <br/>
		                <p:defaultCommand target="ok_button"/>
	                </p:panelGrid>
            	</p:outputPanel>
            </h:form>
        </p:dialog>
	</ui:define>

</ui:composition>