* {
	margin: 0;
	padding: 0;
}

#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #333;
	left: -200px;
	transition: all 500ms linear;
	z-index:99999;
}

#sidebar.active {
	left: 0;
}

#sidebar ul li {
	color: rgba(230, 230, 230, .9);
	text-align: center;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, .3);
}

/* Style the topnav links */
#sidebar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
#sidebar a:hover {
	background-color: #ddd;
	color: black;
}

.logo{
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 20px;
	cursor: pointer;
}

#sidebar .toggle-btn span {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
	border: 1px solid #000;
}