<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form style="margin: 0; padding: 0;">
        <p:menubar>
            <p:submenu label="File" icon="pi pi-fw pi-file">
                <p:submenu label="New" icon="pi pi-fw pi-plus">
                    <p:menuitem value="Bookmark" icon="pi pi-fw pi-bookmark"/>
                    <p:menuitem value="Video" icon="pi pi-fw pi-video"/>
                </p:submenu>
                <p:menuitem value="Delete" icon="pi pi-fw pi-trash"/>
                <p:divider />
                <p:menuitem value="Export" icon="pi pi-fw pi-external-link"/>
            </p:submenu>

            <p:submenu label="Edit" icon="pi pi-fw pi-pencil">
                <p:menuitem value="Left" icon="pi pi-fw pi-align-left"/>
                <p:menuitem value="Right" icon="pi pi-fw pi-align-right"/>
                <p:menuitem value="Center" icon="pi pi-fw pi-align-center"/>
                <p:menuitem value="Justify" icon="pi pi-fw pi-align-justify"/>
            </p:submenu>

            <p:submenu label="Logistica" icon="pi pi-fw pi-pencil">
				<p:menuitem value="#{msg['menu.brand.link']}" url="brand.xhtml"  icon="pi pi-fw pi-car" />
				<p:menuitem value="#{msg['menu.category.link']}" url="category.xhtml" icon="pi pi-fw pi-sitemap" />
				<p:menuitem value="#{msg['menu.document.link']}" url="document.xhtml" icon="pi pi-fw pi-file" />
				<p:menuitem value="#{msg['menu.family.link']}" url="family.xhtml" icon="pi pi-fw pi-users" />
				<p:menuitem value="#{msg['menu.line.link']}" url="line.xhtml" icon="pi pi-fw pi-shield" />
				<p:menuitem value="#{msg['menu.measure.link']}" url="measure.xhtml" icon="pi pi-fw pi-share-alt" />
				<p:menuitem value="#{msg['menu.metric.link']}" url="metric.xhtml" icon="pi pi-fw pi-list" />
				<p:menuitem value="#{msg['menu.product.link']}" url="product.xhtml" icon="pi pi-fw pi-slack" />
				<p:menuitem value="#{msg['menu.client.link']}" url="client.xhtml" icon="pi pi-fw pi-id-card" />
				<p:menuitem value="#{msg['menu.sale_order.link']}" url="sale_order.xhtml"  icon="pi pi-fw pi-shopping-cart" />
				<p:menuitem value="#{msg['menu.store.link']}" url="store.xhtml" icon="pi pi-fw pi-building" />
				<p:menuitem value="#{msg['menu.magnitude.link']}" url="magnitude.xhtml" icon="pi pi-fw pi-globe" />
				<p:menuitem value="#{msg['menu.user.link']}" url="user.xhtml"  icon="pi pi-fw pi-user" />
				<p:separator />
				<p:menuitem value="#{msg['menu.report.link']}" url="report.xhtml" icon="pi pi-fw pi-book" />
            </p:submenu>

            <p:submenu label="Users" icon="pi pi-fw pi-user">
                <p:menuitem value="New" icon="pi pi-fw pi-user-plus"/>
                <p:menuitem value="Delete" icon="pi pi-fw pi-user-minus"/>
                <p:submenu label="Search" icon="pi pi-fw pi-users">
                    <p:submenu label="Filter" icon="pi pi-fw pi-filter">
                        <p:menuitem value="Print" icon="pi pi-fw pi-print"/>
                    </p:submenu>
                    <p:menuitem value="List" icon="pi pi-fw pi-bars"/>
                </p:submenu>
            </p:submenu>

            <p:submenu label="Events" icon="pi pi-fw pi-calendar">
                <p:submenu label="Edit" icon="pi pi-fw pi-pencil">
                    <p:menuitem value="Save" icon="pi pi-fw pi-calendar-plus"/>
                    <p:menuitem value="Delete" icon="pi pi-fw pi-calendar-minus"/>
                </p:submenu>
                <p:submenu label="Archieve" icon="pi pi-fw pi-calendar-times">
                    <p:menuitem value="Remove" icon="pi pi-fw pi-calendar-minus"/>
                </p:submenu>
            </p:submenu>

            <p:divider layout="vertical"/>

            <p:menuitem value="#{msg['panel.credentials.logout']}" actionListener="#{login_bean.logout()}" icon="pi pi-fw pi-power-off"/>

            <f:facet name="options">
                <div class="ui-input-icon-left p-mr-2">
			        <h:commandButton value="English" style="float: left">
						<f:setPropertyActionListener value="en" target="#{language_bean.language}"/>
			        </h:commandButton>
			        <h:commandButton value="Français" style="float: left">
						<f:setPropertyActionListener value="fr" target="#{language_bean.language}"/>
			        </h:commandButton>
			        <h:commandButton value="Español" style="float: left">
						<f:setPropertyActionListener value="es" target="#{language_bean.language}"/>
			        </h:commandButton>
			        <p:outputLabel value="#{login_bean.user.first_name} #{login_bean.user.last_name}" style="float: right" />
                </div>
            </f:facet>
        </p:menubar>
    </h:form>
</ui:composition>