<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
	</f:facet>
	<title>#{msg['app_title']}</title>
	<f:event type="preRenderView" listener="#{login_bean.validateSesion()}" />
</h:head>
<h:body style="margin: 0; padding: 0;">
    <div class="ui-g">
        <div class="ui-g-12">
			<ui:insert name="top">
				<ui:include src="/WEB-INF/menu.xhtml" />
			</ui:insert>
        </div>
        <div class="ui-g-12">
			<ui:insert name="contents" />
        </div>
    </div>
	<p:dialog style="opacity: 0.5; padding: 0; margin: 0; border-style: none !important; box-shadow: none !important;" resizable="false" widgetVar="statusDialog" showHeader="false" draggable="false" modal="true">
		<p:graphicImage library="images" name="loading.gif" /> 
	</p:dialog>  
	<script type="application/javascript">
		$(document).ready(function(){
			PF('statusDialog').hide();
		});

		$(window).bind('beforeunload', function() {
			PF('statusDialog').show();
		});
	</script>
</h:body>
</html>